BFHRGP_1013/BFHRGP_mozi.dtd

<!ELEMENT mozi (film*)>
<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ATTLIST film id ID #REQUIRED>
<!ATTLIST film mufaj (horror|akcio|drama) #IMPLIED>
<!ELEMENT rendezo (#PCDATA)>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #IMPLIED>
<!ELEMENT szinesz (#PCDATA)>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA #IMPLIED>
<!ELEMENT iro (#PCDATA)>
<!ATTLIST iro id ID #REQUIRED>